{% extends "base.html" %}

{% block content %}
    <h1>S3 Buckets</h1>
    {% if error_msg %}
        {{ error_msg }}
    {% endif %}
    <form action="{% url 'buckets' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name}}" style="m">{{ field.label}}</label>:
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      {% for data in list %}
        <a href="{% url 'bucket_file' data.Name %}">{{data.Name}}</a> {{data.CreationDate}}
        <a href="{% url 'delete_bucket' data.Name %}" class="btn btn-danger btn-sm rounded-0" role="button" aria-pressed="true">Delete</a>
        <br>
      {% endfor %}

{% endblock content %}