{% extends "base.html" %}

{% block content %}
    <h3>Bucket: <span class="badge badge-info">{{ page_name }}</span></h3>
        {% if msg %}
            {{ msg }}
        {% endif %}

    <table class="table" style="margin-top: 3%">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last modify Date & Time</th>
        </tr>
      </thead>
      <tbody>
      {% for data in lists %}
        <tr>
            <td scope="row">{{data.Key}}</td>
            <td>{{data.LastModified}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock content %}