{% extends "base.html" %}

{% block content %}
    <div class="container justify-content-md-center">
        <h1>Upload File</h1>
            {% if msg %}
                {{ msg }}
            {% endif %}
        <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name}}" style="m">{{ field.label}}</label>:
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}
